{% extends "stock_app/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

	<div class="content-section">
		<form method="POST" >
			
			{% csrf_token %}
			
			<fieldset class="form-group">
				<legend class="border-bottom">Login</legend>
				
				{{ form|crispy }}
			
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Sign In</button>
				<small class="text-muted ml-2">
					Fogot Password?
					<a class="ml-1" href="{% url 'password_reset' %}">Reset Password</a>
				</small>
			</div>
		</form>
	    <div class="border-top pt-3"> <!-- "pt-3"-> padding top 3 -->

	    	<small class="text-muted">
	    		Create an account. <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
	    		 <!-- "ml-2"->margin left -->
	    	</small>
	    </div>
	</div>

{% endblock content %}